{
  "presets": ["env", "stage-2"],

  "plugins":
  [
    "add-module-exports",
    ["module-resolver", {
      "root": ["."],
      "alias":
      {
        "escomplex-plugin-syntax-babylon/src": "escomplex-plugin-syntax-babylon/dist",

        "typhonjs-ast-walker/src": "typhonjs-ast-walker/dist",
        "typhonjs-escomplex-commons/src": "typhonjs-escomplex-commons/dist"
      }
    }],
    "transform-runtime"
  ],

  "env":
  {
    "escomplex-dev":
    {
      "plugins":
      [
        "add-module-exports",
        ["module-resolver", {
          "root": ["."],
          "cwd": "babelrc",
          "alias":
          {
            "escomplex-plugin-syntax-babylon/src": "../escomplex-plugin-syntax-babylon/src",

            "typhonjs-escomplex-commons/src": "../typhonjs-escomplex-commons/src"
          }
        }],
        "transform-runtime"
      ]
    }
  }
}
